.timecard{
    position: relative;
    color: white;
    width: min(100%, 300px);
}

.header{
    position: absolute;
    top: -60px;
    width: 100%;
    height: 80px;
    z-index: 0;
    border-radius: 12px;
    display: flex;
    justify-content: flex-end;
}
.header div{
    margin-right: 15px;
    width: 85px;
    display: flex;
    align-items: flex-start;
}
.header div img{
  width: 100%;
}

.container{
    display: grid;
    gap: 1rem;

    background-color: var(--dark-blue);
    padding: 2rem;
    border-radius: 12px;
    position: relative;
    z-index: 5;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.hours{
    font-size: 3rem;
    font-weight: 300;
}

.previous-hours{
    font-size: 1rem;
    font-weight: 400;
    color: var(--light-purple);
}
.previous-hours span{
    text-transform: capitalize;
}


.orange{
    background-color: var(--orange);
}
.azure{
    background-color: var(--azure);
}
.red{
    background-color: var(--red);
}
.green{
    background-color: var(--green);
}
.purple{
    background-color: var(--purple);
}
.yellow{
    background-color: var(--yellow);
}
.white{
    background-color: var(--white);
}